<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="lighterletter.c4q.nyc.momentone">

    <uses-feature
        android:name="android.hardware.sensor.accelerometer"
        android:required="true" />

    <uses-permission android:name="android.permission.WAKE_LOCK"/>


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Accelerometer"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Magnetometer"
            android:screenOrientation="portrait" />
        <activity android:name=".AudioSynthesis"/>
        <activity android:name=".FingerSynthesis"
            android:screenOrientation="portrait"/>
    </application>

</manifest>
